* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #291f1a;
    margin: 0;
}

#main-header {
    font-weight: 300;
    color: #fff;
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
    box-sizing: border-box;

}

#main-header-content {
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 22vh;
}

#main-header #main-header-content h1,
#main-header #main-header-content h2 {
    display: block;
    font-weight: 300;
    width: 100%;
    margin: 0 auto;
}

#main-header #main-header-content h1 {
    font-size: 3em;
}

#main-header #main-header-content h1 span {
    color: #1ac056;
    font-weight: 700;
}


#main-header #main-header-content h2 {
    font-family: roboto;
    font-weight: 400;
    margin-top: 1em;
}

#main-nav {
    background-color: white;
    float: right;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

#main-nav > ul > li {
    list-style-type: none;
    display: inline-block;
    float: right;
    color: #1ac056;
    font-weight: 300;
    margin: 10px 15px;

}


a {
    text-decoration: none;
    color: #1ac056;
}

a:hover {
    text-decoration: none;
    color: #291f1a;
}

#about {
    height: 50vw;
    padding: 0 80px 100px;
    background-color: #f9fcfe;
    overflow: hidden;
}

#janek {
    height: 60%;
    float: left;
    margin: 0;
}

#fotka {
    border: solid white 5px;
    border-radius: 4%;
    height: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
}

section > h2 {
    color: #291f1a;
    text-align: center;
    font-size: 3.5vw;
    font-weight: 300;
}

section > h2 > span {
    color: #1ac056;
}

#whoami {
    text-align: justify;
    margin-left: 30px;
}

#skills {
    display: inline-block;
    padding: 10px;
    overflow: hidden;
    text-align: center;
    height: 50vh;
}

#skills > p {
    position: relative;
    text-align: center;
}

#skill-icons {
    position: relative;
    display: inline-block;
    width: 50%;
    text-align: center;
}

#portfolio {
   margin-left: 70px;
    margin-right: 70px;
    text-align: center;
}

.portfolio-item {
    width: 33.33%;
    height: 300px;
    float: left;
    background-position: center;
    background-size: cover;
    margin: 0;
}

#portfolio1 {
    background-image: url(../img/portfolio1.jpg);
}

#portfolio2 {
    background-image: url(../img/portfolio2.jpg);
}

#p-port {
    color: white;
    border: 1px solid #fff;
}

.portfolio-mask {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 59, 80, 0.6);
   
}

#mask-text>a>i {color: white;}


#mask-content {
    border: 1px solid white;
    width: 95%;
    height: 95%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

#mask-text {color: white;
    position: absolute;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);}

#portfolio3 {
    background-image: url(../img/portfolio3.jpg);
}

#skills > #skill-icons > figure {
    display: inline-block;
    width: 20%;
    margin: auto;
}

figcaption {
    text-align: center;
    width: 100%;
}

.contact-social-icons {
    text-align: center;
}

.contact-social-icons i {
    font-size: 2.5em;
    display: inline-block;
    color: white;
    border: 2px solid white;
}

#contact {
    margin-top: 20px;
    position: relative;
    padding: 40px;
    background-color: #213b50;
    overflow: hidden;
}

#contact-data,
#contact-form {
    display: inline-block;
}

#contact div {
    width: 45%;
}

#contact-form {
    float: right;
}

#contact-data {
    float: left;
}

#contact-form form input {
    width: 100%;
}

i:hover {}