* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #291f1a;
    margin: 0;
}

#main-header {
    font-weight: 300;
    color: #fff;
    background-image: url("../img/header-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 50vh;
    width: 100%;
    box-sizing: border-box;

}

#main-header-content {
    display: inline-block;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 22vh;
}

#main-header #main-header-content h1,
#main-header #main-header-content h2 {
    display: block;
    font-weight: 300;
    width: 100%;
    margin: 0 auto;
}

#main-header #main-header-content h1 {
    font-size: 3em;
}

#main-header #main-header-content h1 span {
    color: #1ac056;
    font-weight: 700;
}


#main-header #main-header-content h2 {
    font-family: roboto;
    font-weight: 400;
    margin-top: 1em;
}

#main-nav {
    background-color: white;
    float: right;
    top: 0;
    z-index: 10;
    width: 100%;
}

#main-nav > ul > li {
    list-style-type: none;
    display: inline-block;
    float: right;
    color: #1ac056;
    font-weight: 300;
    margin: 10px 15px;

}


a {
    text-decoration: none;
    color: #1ac056;
}

a:hover {
    text-decoration: none;
    color: #291f1a;
}

#about {
    height: 50vw;
    padding: 0 80px 100px;
    background-color: #f9fcfe;
    overflow: hidden;
}

#janek {
    height: 60%;
    float: left;
    margin: 0;
}

#fotka {
    border: solid white 5px;
    height: 100%;
    margin-right: 10px ;
    margin-bottom: 10px;
}

#about > h2 {
    color: #291f1a;
    text-align: center;
    font-size: 3.5vw;
    font-weight: 300;
}

#about > h2 > span {
    color: #1ac056;
}

#whoami {
    text-align: justify;
}